
  
  /* Modal Overlay */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px); /* Adiciona o efeito de blur */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com transparência */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Certifique-se de que o modal esteja na frente de outros elementos */
    color: rgb(207, 206, 206);
  }
  

/* Modal Content */
.modal-content {
    background-color: #0f293b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    max-width: 1200px;
    max-height: 800px;
    width: 100%;
    text-align: center;
    position: relative; /* Defina a posição relativa no modal */
  }

.modal-gif {
    display: block; /* Garante que a margem horizontal seja aplicada corretamente */
    margin: 0 auto; /* Centraliza horizontalmente a imagem */
    width: 100%; /* Limita a largura máxima da imagem a 50% do modal */
    height: auto; /* Mantém a proporção original da imagem */
}

.modal-header {
  display: flex;
  justify-content: space-between; /* Coloca o título à esquerda e o botão à direita */
  align-items: center; /* Centraliza verticalmente */
}

.modal-header h2 {
  margin: 0; /* Remova a margem padrão do título para evitar espaços extras */
  align-items: center;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

/* Estilize o botão de fechar */
.modal-close-button {
    background-color: #ff00008f; /* Cor do botão de fechar (pode ser personalizado) */
    color: rgb(207, 206, 206);
    max-height: 40px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1; /* Coloca o botão acima do conteúdo do modal */
  }

  .modal-github-button {
    background-color: #297fb9c4; /* Cor do botão de fechar (pode ser personalizado) */
    color: rgb(207, 206, 206);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1; /* Coloca o botão acima do conteúdo do modal */
    max-height: 40px;
    text-align: center; /* Centraliza o texto horizontalmente */
    display: flex;
  }
  
  .modal-github-button img {
    max-height: 25px;
    max-width: 25px;
    margin-right: 8px; /* Espaçamento à direita da imagem para separá-la do texto */
    margin-top: 5px;
  }
  
  /* Se você tiver algum texto dentro do botão, também pode aplicar line-height a ele */
  .modal-github-button span {
    line-height: 40px; /* Centraliza o texto verticalmente */
  }

  .modal-github-button-privado {
    background-color: #817f7f8f; /* Cor do botão de fechar (pode ser personalizado) */
    color: rgb(207, 206, 206);
    border: none;
    border-radius: 5px;
    z-index: 1; /* Coloca o botão acima do conteúdo do modal */
    max-height: 40px;
    text-align: center; /* Centraliza o texto horizontalmente */
    display: flex;
  }
  
  .modal-github-button-privado img {
    max-height: 25px;
    max-width: 25px;
    margin-right: 8px; /* Espaçamento à direita da imagem para separá-la do texto */
    margin-top: 5px;
  }
  
  /* Se você tiver algum texto dentro do botão, também pode aplicar line-height a ele */
  .modal-github-button-privado span {
    line-height: 40px; /* Centraliza o texto verticalmente */
  }


/* Modal Close Button Hover State */
.modal-close-button:hover {
    background-color: #cc0000; /* Cor do botão de fechar no hover (pode ser personalizado) */
}

/* Modal Close Button Hover State */
.modal-github-button:hover {
  background-color: #3498DB; /* Cor do botão de fechar no hover (pode ser personalizado) */
}
  

/* Estilize a classe .modal-flex-container */
.modal-flex-container {
    display: flex;
    justify-content: space-between; /* Divide o espaço disponível igualmente entre as partes */
  }
  
  /* Estilize a classe .modal-left (parte esquerda) */
  .modal-left {
    flex: 1; /* A parte esquerda ocupa o mesmo espaço da parte direita */
  }
  
  /* Estilize a classe .modal-right (parte direita) */
  .modal-right {
    flex: 1; /* A parte direita ocupa o mesmo espaço da parte esquerda */
    display: flex;
    flex-direction: column; /* Empilhe os elementos verticalmente */
    justify-content: center; /* Centralize verticalmente */
    align-items: center; /* Centralize horizontalmente */
  }

  .modal-right p{
    white-space: pre-line;
    text-align: justify;
    line-height: 1.5;
    padding: 0 20px; /* Espaçamento interno para melhor leitura */
  }

/* Ocultar a imagem em telas menores */
@media screen and (max-width: 600px) {
  .modal-flex-container {
    display: inline;
  }
}