.sobre-mim {
  width: 98%;    
  height: 100vh;
  min-height: 800px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.text-container {
  flex: 1;
  text-align: center;
  padding: 0 20px;
}

.text-container p {
  text-align: justify;
  max-width: 800px;
  margin: auto;
  font-size: clamp(0.5em, 1em + 0.5vw, 2.5em);
  color: rgba(255, 255, 255, 0.85);
}

.text-container button {
  margin-top: 50px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(40, 122, 222);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.text-container button:hover {
  background-color: #0056b3;
}

.text-container button:active {
  background-color: #1c87c9;
}

.text-container button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.logo-container-left {
  display: flex;
  max-width: 300px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.logo-container-right {
  display: flex;
  max-width: 300px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.logo-sobre-mim {
  margin-left: 30px;
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveUpDown 2s infinite alternate ease-in-out;
}

.logo-sobre-mim img {
  width: 80px;
  height: 80px;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 1000px) {
  .sobre-mim {
    display: inline-grid;
  }
}

@media screen and (max-width: 1000px) {
  .logo-container-left,
  .logo-container-right {
    max-width: 95%;
  }
}